<form name="search-form" class="form-inline my-2 my-lg-0">
  <input [(ngModel)]="searchQuery" name="search" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
</form>

<table class="table mt-3">
  <thead>
  <tr>
    <th>
      <span (click)="setSorting('ClientName', getInitialSorting('ClientName')); sort()">Name</span>
      <i class="material-icons" [hidden]="!showSortingControl('ClientName', false)" (click)="setSorting('ClientName', true); sort()">keyboard_arrow_down</i>
      <i class="material-icons" [hidden]="!showSortingControl('ClientName', true)" (click)="setSorting('ClientName', false); sort()">keyboard_arrow_up</i>
    </th>
    <th>
      <span (click)="setSorting('ClientID', getInitialSorting('ClientID')); sort()">C.E. ID</span>
      <i class="material-icons" [hidden]="!showSortingControl('ClientID', false)" (click)="setSorting('ClientID', true); sort()">keyboard_arrow_down</i>
      <i class="material-icons" [hidden]="!showSortingControl('ClientID', true)" (click)="setSorting('ClientID', false); sort()">keyboard_arrow_up</i>
    </th>
    <th>
      <span (click)="setSorting('QBCustomerId', getInitialSorting('QBCustomerId')); sort()">QB Ref ID</span>
      <i class="material-icons" [hidden]="!showSortingControl('QBCustomerId', false)" (click)="setSorting('QBCustomerId', true); sort()">keyboard_arrow_down</i>
      <i class="material-icons" [hidden]="!showSortingControl('QBCustomerId', true)" (click)="setSorting('QBCustomerId', false); sort()">keyboard_arrow_up</i>
    </th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
    <td>{{client.ClientName}}</td>
    <td>{{client.ClientID}}</td>
    <td>{{client.QBCustomerId}}</td>
    <td>
      <a (click)="open(client)" href="javascript:void(0)">
        <i class="material-icons">edit</i>
      </a>
    </td>
  </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
  <div class="col-sm-6">
    Rows per page:
    <select class="custom-select" [(ngModel)]="itemsPerPage">
      <option selected value="10">10</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
</div>

